<p id="notice"><%= notice %></p>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1>Apprenants</h1>
    </div>
    <div class="col-lg-4 text-right">
      <%= link_to 'New Apprenant', new_apprenant_path,class:"btn btn-primary" %>
    </div>
  </div>
  <div class="row">
    <% @apprenants.each do |apprenant| %>
    <div class="col-lg-4">
            <figure class="snip1094"><img src="<%= apprenant.photo.url %>" alt="sample50"/>
  <h3><%= apprenant.nom %>  <span> <%= apprenant.prenoms %></span></h3>
  <div class="icons">
    <%= link_to apprenant do %><i class="ion-ios-printer-outline"></i><%end%>
    <%= link_to edit_apprenant_path(apprenant) do %><i class="ion-ios-chatboxes-outline"></i><%end%>
    <%= link_to apprenant, method: :delete, data: { confirm: 'Are you sure?' } do%><i class="ion-ios-telephone-outline"></i><%end%></div>
</figure>
    </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
    /* Demo purposes only */
  $("figure").mouseleave(
    function() {
      $(this).removeClass("hover");
    }
  );
</script>