<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
        <div class="row">
        <div class="col-lg-12 text-center">
          <h4><%= @apprenant.telephone %></h4>
          <p><%= @apprenant.mail %></p>
        </div>
       
        <div class="col-lg-12 text-center">
          <p><strong>Formation:</strong><%= @apprenant.formation %></p>
        </div>

        <div class="col-lg-12 text-center">
          <p><strong>Projet:</strong><%= @apprenant.projet %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h4><%= @apprenant.nom %></h4>
        </div>
       
        <div class="col-lg-12 text-center">
          <%=image_tag @apprenant.photo.url, class:"img-fluid" %>
        </div>

        <div class="col-lg-12 text-center">
          <h4><%= @apprenant.nom %></h4>
        </div>

      </div>
    </div>
    <div class="col-lg-4">
        <div class="row">
        <div class="col-lg-12 text-center">
          <p><strong>Description:</strong><%= @apprenant.description %></p>

        </div>
       
        <div class="col-lg-12 text-center">
          <p><strong>Attentes:</strong><%= @apprenant.attentes %></p>
        </div>

        <div class="col-lg-12 text-center">
          <h4><%= @apprenant.nom %></h4>
        </div>

      </div>
    </div>
  </div>
</div>






<%= link_to 'Edit', edit_apprenant_path(@apprenant) %> |
<%= link_to 'Back', apprenants_path %>
